In [ ]:
class Kollywood:

    def Details(self):
        self.work = "Acting"
        self.place = 'TamilNadu'

In [2]:
class Vijay(Kollywood):

    def __init__(self):
        self.name = "Vijay"
        self.age = 51
        self.gender = 'Male'
        self.skill = ['Acting', 'Dancing', 'Singing', 'Respective']

    def info(self):
        self.Details()
        print(f'Name : {self.name}')
        print(f'Age : {self.age}')
        print(f'Gender : {self.gender}')
        print(f'Skills : {self.skill}')
    
class Rajini(Kollywood):

    def __init__(self):
        self.name = "Rajini"
        self.age = 75
        self.gender = 'Male'
        self.skill = ['Acting', 'Style', 'Mass']

    def info(self):
        self.Details()
        print(f'Name : {self.name}')
        print(f'Age : {self.age}')
        print(f'Gender : {self.gender}')
        print(f'Skills : {self.skill}')

In [3]:
k1 = Vijay()
k1.info()

Name : Vijay
Age : 51
Gender : Male
Skills : ['Acting', 'Dancing', 'Singing', 'Respective']

In [4]:
k2 = Rajini()
k2.info()

Name : Rajini
Age : 75
Gender : Male
Skills : ['Acting', 'Style', 'Mass']